<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="container">
        <ul class="service-benefits">
            <li>
                <img src="images/services1.png" alt="">
                <p>Free shiping in Europe</p>
            </li>
            <li>
                <img src="images/services2.png" alt="">
                <p>Money Back Guarantee</p>
            </li>
            <li>
                <img src="images/services3.png" alt="">
                <p>24/7 Customer Support</p>
            </li>
            <li>
                <img src="images/services4.png" alt="">
                <p>Lowest Prices Guaranteed</p>
            </li>
            <li>
                <img src="images/services5.png" alt="">
                <p>Exclusive Items for Sportshold</p>
            </li>
            <li>
                <img src="images/services6.png" alt="">
                <p>5-Day Delivery in Europe</p>
            </li>
        </ul>
        <div class="wrapper">
            <ul class="contact-list">
                <li>
                    <img src="images/contacts1.png" alt="">
                    <div>
                        <h4>Call us</h4>
                        <a href="tel:0(1234)567890">0 (1234) 567 890</a>
                    </div>
                </li>
                <li>
                    <img src="images/contacts2.png" alt="">
                    <div>
                        <h4>Email us</h4>
                        <a href="mailto:hello@sportshold.com">hello@sportshold.com</a>
                    </div>
                </li>
                <li>
                    <img src="images/contacts3.png" alt="">
                    <div>
                        <h4>Adress</h4>
                        <p>40 Baria Street 133/2, NY, US</p>
                    </div>
                </li>
            </ul>
            <ul class="footer-list">
                <li class="title"><h4>navigation</h4></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Latest news</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Brands</a></li>
            </ul>
            <ul class="footer-list">
                <li class="title"><h4>Categories</h4></li>
                <li><a href="#">Men</a></li>
                <li><a href="#">Women</a></li>
                <li><a href="#">Children</a></li>
                <li><a href="#">Baby</a></li>
                <li><a href="#">Accessories</a></li>
            </ul>
            <ul class="footer-list">
                <li class="title"><h4>Sales</h4></li>
                <li><a href="#">New Arrivals</a></li>
                <li><a href="#">Most Popular</a></li>
                <li><a href="#">Top Picks</a></li>
                <li><a href="#">Outlet</a></li>
            </ul>
            <ul class="footer-list">
                <li class="title"><h4>Support</h4></li>
                <li><a href="#">Shipping & Delivery</a></li>
                <li><a href="#">Return Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-bottom-wrapp">
            <div class="footer-wrapp-img-logo item">
                <img src="images/Logo.png" alt="">
            </div>
            <div class="developed item">
                <p>© 2017 Sportshold. All rights reserved.</p>
            </div>
            <ul class="social-list item">
                <li><a href="#"><img src="images/s1.png" alt=""></a></li>
                <li><a href="#"><img src="images/s2.png" alt=""></a></li>
                <li><a href="#"><img src="images/s3.png" alt=""></a></li>
                <li><a href="#"><img src="images/s4.png" alt=""></a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- /FOOTER -->
