<section class="variety-sneakers">
    <div class="img-sneaker">
        <img src="images/big-sneaker.png" alt="">
    </div>
    <ul class="about-nike">
        <li><span class="price">From $80.00</span></li>
        <li><strong class="nike">Nike air max</strong></li>
        <li><strong class="variants">50 variants</strong></li>
        <li>
            <p class="about-variants">Since this is our favorite sneaker, we’re bringing you
            50 variants to suit everyone’s needs.</p>
        </li>
        <li><a class="button" href="#"><b>Browse variants</b></a></li>
    </ul>
</section>