<section class="advantages-nike">
    <div class="container">
        <div class="viev-collection">
            <div class="viev-collection-img">
                <img src="images/number1.png" alt="">
            </div>
            <p class="advertising">Descover the new <strong>Nike kyrie 3</strong></p>
            <a class="button" href="#">Viev collection</a>
        </div>
        <div class="advantages">
            <div class="discover">
                <div class="discover-img">
                    <img src="images/number2.png" alt="">
                </div>
                <p class="advertising">Check out the <strong>New arrivals</strong></p>
                <a href="">Discover</a>
            </div>
            <div class="wrapper">
                <div class="best-athletes">
                    <div class="best-athletes-img">
                        <img src="images/number3.png" alt="">
                    </div>
                    <p class="advertising">Best for <strong>athletes</strong></p>
                </div>
                <div class="premium">
                    <p class="advertising">Feel <strong>premium</strong></p>
                    <div class="premium-img">
                        <img src="images/number4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>