<section class="peoples-comments">
    <div class="container">
        <ul class="list-visitor">
            <li class="list-item">
                <div class="visitor-photo">
                    <img src="images/men1.png" alt="">
                </div>
                <p class="name-user"><strong>Pedro Pendoran</strong></p>
                <img src="images/stars1.png" alt="">
            </li>
            <li class="list-item">
                <div class="visitor-photo">
                    <img src="images/men1.png" alt="">
                </div>
                <p class="name-user"><strong>Boris Britwa</strong></p>
                <img src="images/stars2.png" alt="">
            </li>
            <li class="list-item">
                <div class="visitor-photo">
                    <img src="images/men1.png" alt="">
                </div>
                <p class="name-user"><strong>Ацетил Кислотович</strong></p>
                <img src="images/stars3.png" alt="">
            </li>
            <li class="list-item">
                <div class="visitor-photo">
                    <img src="images/men1.png" alt="">
                </div>
                <p class="name-user"><strong>Ацетил Кислотович</strong></p>
                <img src="images/stars3.png" alt="">
            </li>
        </ul>
        <div class="user-comments">
            <blockquote class="comments-item">
                “dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.”
            </blockquote>
            <blockquote class="comments-item">
                “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.”
            </blockquote>
            <blockquote class="comments-item">
                “sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.”
            </blockquote>
        </div>
    </div>
</section>