<section class="news">
    <div class="container">
        <h3>Latest news</h3>
        <div class="news-list-wrapp">
            <div class="news-item">
                <div class="news-wrapp-img">
                    <img src="images/news1.png" alt="">
                </div>
                <div class="news-description">
                    <h4>Dec 17, 2020</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <p class="comments"><span class="comments-number">24</span>Comments</p>
                </div>
            </div>
            <div class="news-item">
                <div class="news-wrapp-img">
                    <img src="images/news2.png" alt="">
                </div>
                <div class="news-description">
                    <h4>Dec 17, 2020</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <p class="comments"><span class="comments-number">24</span>Comments</p>
                </div>
            </div>
            <div class="news-item">
                <div class="news-wrapp-img">
                    <img src="images/news3.png" alt="">
                </div>
                <div class="news-description">
                    <h4>Dec 17, 2020</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <p class="comments"><span class="comments-number">24</span>Comments</p>
                </div>
            </div>
        </div>
    </div>
</section>