<section class="selling-nike">
    <div class="container">
        <ul class="nav-list">
            <li class="nav-item active"><p class="tab-item" tabindex="0">new</p></li>
            <li class="nav-item"><p class="tab-item" tabindex="0">popular</p></li>
            <li class="nav-item"><p class="tab-item" tabindex="0">top picks</p></li>
        </ul>
        <div class="shop-wrapp">
            <ul class="shop-list-new tab-index">
                <li>
                    <strong class="sale">-25%</strong>
                    <span class="discount-price">$45.00</span>
                    <span class="discount-price-not">$60.00</span>
                    <div class="shop-wrapp-img">
                        <img src="images/shop1.png" alt="">
                    </div>
                    <h4>men</h4>
                    <a href="#">Converse Breakpoint Suede Blue</a>
                    <span class="article">#16378271</span>
                </li>
                <li>
                    <span class="price">$55.00</span>
                    <div class="shop-wrapp-img">
                        <img src="images/shop2.png" alt="">
                    </div>
                    <h4>men/women</h4>
                    <a href="#">Converse CT All Star II</a>
                    <span class="article">#16378271</span>
                </li>
                <li>
                    <strong class="sale">-25%</strong>
                    <span class="discount-price">$60.00</span>
                    <span class="discount-price-not">$80.00</span>
                    <div class="shop-wrapp-img">
                        <img src="images/shop3.png" alt="">
                    </div>
                    <h4>women</h4>
                    <a href="#">Adidas Pure Boost Chill</a>
                    <span class="article">#16378271</span>
                </li>
                <li>
                    <span class="price">$50.00</span>
                    <div class="shop-wrapp-img">
                        <img src="images/shop4.png" alt="">
                    </div>
                    <h4>men</h4>
                    <a href="#">Puma Duplex W Casual</a>
                    <span class="article">#16378271</span>
                </li>
                <li>
                    <span class="price">$90.00</span>
                    <div class="shop-wrapp-img">
                        <img src="images/shop5.png" alt="">
                    </div>
                    <h4>men</h4>
                    <a href="#">Adidas Alphabounce 1M</a>
                    <span class="article">#16378271</span>
                </li>
                <li>
                    <strong class="sale">-25%</strong>
                    <span class="discount-price">$50.00</span>
                    <span class="discount-price-not">$100.00</span>
                    <div class="shop-wrapp-img">
                        <img src="images/shop6.png" alt="">
                    </div>
                    <h4>men</h4>
                    <a href="#">Asics GEL-Epirus</a>
                    <span class="article">#16378271</span>
                </li>
                <li>
                    <span class="price">$40.00</span>
                    <div class="shop-wrapp-img">
                        <img src="images/shop7.png" alt="">
                    </div>
                    <h4>men</h4>
                    <a href="#">Adidas Originals Courtvantage Mesh</a>
                    <span class="article">#16378271</span>
                </li>
                <li>
                    <span class="price">$80.00</span>
                    <div class="shop-wrapp-img">
                        <img src="images/shop8.png" alt="">
                    </div>
                    <h4>men</h4>
                    <a href="#">Adidas Originals Climacool 1</a>
                    <span class="article">#16378271</span>
                </li>
            </ul>
            <ul class="shop-list-popular tab-index">
                <li>
                    <strong class="sale">-25%</strong>
                    <span class="discount-price">$45.00</span>
                    <span class="discount-price-not">$60.00</span>
                    <div class="shop-wrapp-img">
                        <img src="images/shop8.png" alt="">
                    </div>
                    <h4>men</h4>
                    <a href="#">Converse Breakpoint Suede Blue</a>
                    <span class="article">#16378271</span>
                </li>
                <li>
                    <span class="price">$55.00</span>
                    <div class="shop-wrapp-img">
                        <img src="images/shop7.png" alt="">
                    </div>
                    <h4>men/women</h4>
                    <a href="#">Converse CT All Star II</a>
                    <span class="article">#16378271</span>
                </li>
                <li>
                    <strong class="sale">-25%</strong>
                    <span class="discount-price">$60.00</span>
                    <span class="discount-price-not">$80.00</span>
                    <div class="shop-wrapp-img">
                        <img src="images/shop6.png" alt="">
                    </div>
                    <h4>women</h4>
                    <a href="#">Adidas Pure Boost Chill</a>
                    <span class="article">#16378271</span>
                </li>
                <li>
                    <span class="price">$50.00</span>
                    <div class="shop-wrapp-img">
                        <img src="images/shop5.png" alt="">
                    </div>
                    <h4>men</h4>
                    <a href="#">Puma Duplex W Casual</a>
                    <span class="article">#16378271</span>
                </li>
                <li>
                    <span class="price">$90.00</span>
                    <div class="shop-wrapp-img">
                        <img src="images/shop4.png" alt="">
                    </div>
                    <h4>men</h4>
                    <a href="#">Adidas Alphabounce 1M</a>
                    <span class="article">#16378271</span>
                </li>
                <li>
                    <strong class="sale">-25%</strong>
                    <span class="discount-price">$50.00</span>
                    <span class="discount-price-not">$100.00</span>
                    <div class="shop-wrapp-img">
                        <img src="images/shop3.png" alt="">
                    </div>
                    <h4>men</h4>
                    <a href="#">Asics GEL-Epirus</a>
                    <span class="article">#16378271</span>
                </li>
                <li>
                    <span class="price">$40.00</span>
                    <div class="shop-wrapp-img">
                        <img src="images/shop2.png" alt="">
                    </div>
                    <h4>men</h4>
                    <a href="#">Adidas Originals Courtvantage Mesh</a>
                    <span class="article">#16378271</span>
                </li>
                <li>
                    <span class="price">$80.00</span>
                    <div class="shop-wrapp-img">
                        <img src="images/shop1.png" alt="">
                    </div>
                    <h4>men</h4>
                    <a href="#">Adidas Originals Climacool 1</a>
                    <span class="article">#16378271</span>
                </li>
            </ul>
            <ul class="top-picks tab-index">
                <li>
                    <strong class="sale">-25%</strong>
                    <span class="discount-price">$60.00</span>
                    <span class="discount-price-not">$80.00</span>
                    <div class="shop-wrapp-img">
                        <img src="images/shop3.png" alt="">
                    </div>
                    <h4>women</h4>
                    <a href="#">Adidas Pure Boost Chill</a>
                    <span class="article">#16378271</span>
                </li>
                <li>
                    <span class="price">$50.00</span>
                    <div class="shop-wrapp-img">
                        <img src="images/shop4.png" alt="">
                    </div>
                    <h4>men</h4>
                    <a href="#">Puma Duplex W Casual</a>
                    <span class="article">#16378271</span>
                </li>
                <li>
                    <strong class="sale">-25%</strong>
                    <span class="discount-price">$45.00</span>
                    <span class="discount-price-not">$60.00</span>
                    <div class="shop-wrapp-img">
                        <img src="images/shop1.png" alt="">
                    </div>
                    <h4>men</h4>
                    <a href="#">Converse Breakpoint Suede Blue</a>
                    <span class="article">#16378271</span>
                </li>
                <li>
                    <strong class="sale">-25%</strong>
                    <span class="discount-price">$60.00</span>
                    <span class="discount-price-not">$80.00</span>
                    <div class="shop-wrapp-img">
                        <img src="images/shop3.png" alt="">
                    </div>
                    <h4>women</h4>
                    <a href="#">Adidas Pure Boost Chill</a>
                    <span class="article">#16378271</span>
                </li>
                <li>
                    <span class="price">$55.00</span>
                    <div class="shop-wrapp-img">
                        <img src="images/shop2.png" alt="">
                    </div>
                    <h4>men/women</h4>
                    <a href="#">Converse CT All Star II</a>
                    <span class="article">#16378271</span>
                </li>
                <li>
                    <span class="price">$90.00</span>
                    <div class="shop-wrapp-img">
                        <img src="images/shop5.png" alt="">
                    </div>
                    <h4>men</h4>
                    <a href="#">Adidas Alphabounce 1M</a>
                    <span class="article">#16378271</span>
                </li>
                <li>
                    <strong class="sale">-25%</strong>
                    <span class="discount-price">$50.00</span>
                    <span class="discount-price-not">$100.00</span>
                    <div class="shop-wrapp-img">
                        <img src="images/shop6.png" alt="">
                    </div>
                    <h4>men</h4>
                    <a href="#">Asics GEL-Epirus</a>
                    <span class="article">#16378271</span>
                </li>
                <li>
                    <span class="price">$40.00</span>
                    <div class="shop-wrapp-img">
                        <img src="images/shop7.png" alt="">
                    </div>
                    <h4>men</h4>
                    <a href="#">Adidas Originals Courtvantage Mesh</a>
                    <span class="article">#16378271</span>
                </li>
            </ul>
        </div>
        <ul class="label-list">
            <li><img src="images/label1.png" alt=""></li>
            <li><img src="images/label2.png" alt=""></li>
            <li><img src="images/label3.png" alt=""></li>
            <li><img src="images/label4.png" alt=""></li>
            <li><img src="images/label5.png" alt=""></li>
            <li><img src="images/label6.png" alt=""></li>
        </ul>
    </div>
</section>